@import kouto-swiss

body
  -webkit-font-smoothing antialiased
  background #dfdfdf
  font-family "Lucida Grande"

  h1,h2,h3
    font-weight 100

  a
    color #333
    font-weight bold
    &:hover
      text-decoration underline
      color #333

  .btn
    letter-spacing 2px
    text-transform uppercase

  .site-content
    margin 30px auto
    padding-top 90px

  .no-gutter [class*="col-"]
    @media (min-width: 768px)
      padding 0 !important

  .btn-default, .btn-default:hover, .btn-default:focus
    background #e76059
    border none
    color white
