.filters
  margin-bottom 22px

  .icon-addon
    position relative
    color #555
    display block

    input
      padding 20px 40px

    .glyphicon
      position absolute
      z-index 2
      width 20px
      text-align center
      padding 10px 0
      font-size 14px
      margin-left 0
      left 11px
      top 4px

  input#search
    box-shadow 0px 1px 1px #000
    -webkit-transition width 0.75s ease-in-out
    -moz-transition width 0.75s ease-in-out
    -o-transition width 0.75s ease-in-out
    transition width 0.75s ease-in-out
    width 200px
    &:focus
      border 0
      outline none
      width 400px

  button.filter
    color #000
    text-transform capitalize

  .dropdown-menu:before
    position absolute
    top -7px
    left 9px
    display inline-block
    border-right 7px solid transparent
    border-bottom 7px solid #ccc
    border-left 7px solid transparent
    border-bottom-color rgba(0, 0, 0, 0.2)
    content ''

  .dropdown-menu:after
    position absolute
    top -6px
    left 10px
    display inline-block
    border-right 6px solid transparent
    border-bottom 6px solid #ffffff
    border-left 6px solid transparent
    content ''