article.app-detail
  // display table

  [class*="col-"]
    @media (min-width: 768px)
      float none
      display table-cell
      vertical-align top

  .main-info
    .app-logo
      background #ae3d42
      height 175px
      line-height 175px
      text-align center
      width 100%

      .vertical-align
        display inline-block
        height 100%
        vertical-align middle

      img
        max-width 100%
        vertical-align middle

    .app-data
      background-color #efefef
      height 300px
      padding 25px 40px

      h1, h2, h3
        margin 0
        margin-bottom 22px
        font-size 22px

        small
          display block
          font-size 16px

      footer
        font-size 14px
        margin-top 40px

        .twitter, .license
          display block

  .more-info-container
    background-color white

    .more-info
      padding 45px 30px

      h4
        font-size 20px
        font-weight bold
        margin-bottom 22px

        small
          font-size 14px
          margin-left 6px
