#application-form
  .logo-container
    height 175px
    line-height 175px
    text-align center

    .vertical-align
      display inline-block
      height 100%
      vertical-align middle
    img
      max-width 100%
      vertical-align middle

  .panel-footer
    .hidden-xs.btn ~ .hidden-xs.btn
      margin-left 5px
    .btn-block ~ .btn-block
      margin-top 5px