article.row.no-gutter.app-detail
    section.main-info.col-xs-12.col-lg-3
      .app-logo
        .vertical-align
        img(src='http://consider.it/logo%20white%20pink%20tip.png', title='Considerit')
      .app-data
        h1 Considerit
          small United States of America
        h2 Organization name
          small ConsideritVLGuide
        h3 Contact
          small info@consider.it

        footer.text-center
          .twitter: a(href='http://twitter.com/LVGuide' target='_blank') @LVGuide
          .license Lic: AGPL

    aside.col-xs-12.col-lg-9.more-info-container
      .more-info
        h4 Website:
          small: a(href='http://considre.it', target='_blank') www.consider.it
        h4 Description:
          small ConsiderIt is an open source deliberation platform that allows people to collaboratively create pro/con lists of the key points around any complex issue.
        h4 Working at:
          small Living Voter's Guide
        h4 Team:
          small Martin McFly, David Bowie, Eddie Murphy
        h4 Technlogoy:
          small Ruby on Rails, jQuery, Flash, HTML
        h4 Github code:
          small: a(href='http://github.com/marty-mcfly/considreit') http://github.com/marty-mcfly/considreit
        h4 Tags:
          small #debate #publicparticipation

        a.btn.btn-default.btn-back(href='/')
          span.glyphicon.glyphicon-arrow-left
          |  Back