mixin app
  .col-xs-10.col-sm-5.col-md-4.col-lg-3
    article.app
      a(href='/apps/considreit')
        section.app-logo
          .vertical-align
          img(src='http://consider.it/logo%20white%20pink%20tip.png', title='Considerit')
      section.app-detail
        header
          h1: a(href='/apps/considerit') Considerit
          h2 United States of America
        p.description ConsiderIt is an open source deliberation platform that allows people to collaboratively create pro/con lists of the key points around any complex issue.
        p.working-at Working at: Living Voters' Guide
      footer
        .twitter.pull-left
          a(href='http://twitter.com/LVGuide' target='_blank') @LVGuide
        .license.pull-right Lic: AGPL



.row
  +app
  +app
  +app
  +app
  +app
  +app
  +app
  +app
  +app
  +app
  +app
  +app