.navbar
  background-color white
  padding-top 20px
  padding-bottom 10px

  .logo
    font-size 64px

    &[data-logo="wikirepository"]
      width 64px

    &[data-color="black"] > *
      background-image url('images/logo-black.svg')

  .navbar-brand
    font-size 26px
    color black
    text-transform uppercase
    small
      display block
      font-size 16px
      text-transform lowercase

  .border
    background-image url('images/border.png')
    height 4px
    position absolute
    top 95px
    width 100%